tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Aptos Narrow", sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.style22
	{color:#0E2841;
	font-size:15.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Aptos Narrow", sans-serif;
	mso-font-charset:0;
	border:none;
	mso-style-name:"Título 1";
	mso-style-id:16;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Aptos Narrow", sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black none;}
.xl66
	{mso-style-parent:style0;
	color:black;
	background:#2AE6B1;
	mso-pattern:black none;}
.xl67
	{mso-style-parent:style0;
	color:black;}
.xl68
	{mso-style-parent:style0;
	color:black;
	background:#E8E6E9;
	mso-pattern:black none;}
.xl69
	{mso-style-parent:style0;
	color:white;
	font-size:12.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:middle;
	background:#2AE6B1;
	mso-pattern:black none;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl70
	{mso-style-parent:style22;
	color:white;
	font-size:15.0pt;
	font-weight:700;
	font-family:"Segoe UI", sans-serif;
	mso-font-charset:0;
	text-align:left;
	background:#22C55E;
	mso-pattern:black none;
	padding-left:126px;
	mso-char-indent-count:14;}
